<!DOCTYPE html>
<html>

<head>
    <title>vhub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .header-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .status-circle {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-left: 5px;
        }

        .status-circle.OK {
            background-color: green;
        }

        .status-circle.Fail {
            background-color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4">vhub</h1>
        <div class="accordion" id="regionAccordion">
            {{range $regionName, $region := .Regions}}
            <div class="card">
                <div class="card-header" id="heading{{$regionName}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{$regionName}}" aria-expanded="true" aria-controls="collapse{{$regionName}}">
                            {{$region.Name}}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{$regionName}}" class="collapse" aria-labelledby="heading{{$regionName}}" data-parent="#regionAccordion">
                    <div class="card-body">
                        <div class="accordion" id="envAccordion{{$regionName}}">
                            {{range $envName, $env := $region.Environments}}
                            <div class="card">
                                <div class="card-header" id="heading{{$regionName}}{{$envName}}">
                                    <div class="header-wrapper">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{$regionName}}{{$envName}}" aria-expanded="false" aria-controls="collapse{{$regionName}}{{$envName}}">
                                            {{$env.Name}}
                                        </button>
                                        {{if $.Health}}
                                        {{range $health := $.Health}}
                                        {{if and (eq $health.Region $regionName) (eq $health.Environment $envName)}}
                                        <span class="status-circle {{$health.Status}}"></span>
                                        {{end}}
                                        {{end}}
                                        {{end}}
                                    </div>
                                </div>
                                <div id="collapse{{$regionName}}{{$envName}}" class="collapse" aria-labelledby="heading{{$regionName}}{{$envName}}" data-parent="#envAccordion{{$regionName}}">
                                    <div class="card-body">
                                        <table class="table">
                                            <tr>
                                                <th>Name</th>
                                                <th>App Name</th>
                                                <th>Version</th>
                                                <th>Route</th>
                                                <th>Date</th>
                                            </tr>
                                            {{range $appName, $app := $env.Apps}}
                                            <tr>
                                                <td>{{$env.Name}}</td>
                                                <td>{{$app.Name}}</td>
                                                <td>{{$app.Version}}</td>
                                                <td>{{$app.Route}}</td>
                                                <td>{{$app.Date}}</td>
                                            </tr>
                                            {{end}}
                                        </table>
                                        <!-- Health Check Information -->
                                        {{if $.Health}}
                                        {{range $health := $.Health}}
                                        {{if and (eq $health.Region $regionName) (eq $health.Environment $envName)}}
                                        <small class="text-muted">Datasource: {{$health.URL}}, Last Checked: {{$health.LastChecked.Format "2006-01-02 15:04:05"}}</small>
                                        {{end}}
                                        {{end}}
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>